.custom-background {

    height: 100%;
    
    &.custom-error {
        background: url("../../assets/layout/images/playful-backround.png");
        background-repeat: no-repeat;
        background-size: cover;

        .exception-panel {
            border-left: #f56f64 solid 23px;
        }
    }

  
    
}