<div class="bg-gray-900 p-8 flex justify-content-center md:justify-content-start bg-no-repeat bg-cover md:bg-contain"
    style="background-image: url('assets/images/blocks/cta/cta-2.png')">
    <div class="px-5">
        <div class="text-white font-bold text-6xl">You have registered successfully.
        </div>
        <div class="text-blue-200 font-bold text-6xl">Please confirm your account by accessing the link received in the email sent by us.</div>
        <div class="mt-3 mb-5 text-gray-200 font-medium line-height-3">A company employee will never ask for your password.</div>
        <button pButton pRipple label="Sign in" class="font-bold px-5 py-3" (click)="goToPage('login')"></button>
    </div>
</div>