<div class="bg-gray-900 p-8 flex justify-content-center md:justify-content-start bg-no-repeat bg-cover md:bg-contain" style="background-image: url('assets/images/blocks/cta/cta-2.png')">
    <div class="px-5">
        <div class="text-white font-bold text-6xl">Your password has been changed.</div>
        <div class="text-blue-200 font-bold text-6xl">Press the button below to go to login.</div>
        <button pButton pRipple label="Sign In" class="font-bold px-5 py-3" (click)="goToPage('/login')"></button>
    </div>
</div>