<div *ngIf="!userInfo.isAutheticated">
    <div class="layout-topbar">
        <div style="float: right; padding: 0.5rem;" class="menu-custom-css">
            <button pButton pRipple type="button" label="Sign Up" class="p-button-raised p-button-warning"
                style="min-width: 6rem;" (click)="goToPage('/register')"></button>
        </div>

        <div style="float: right; padding: 0.5rem;" class="menu-custom-css">
            <button pButton pRipple type="button" label="Sign In" class="p-button-raised p-button-warning"
                style="min-width: 6rem;" (click)="goToPage('/login')"></button>
        </div>
    </div>
</div>

<!-- When Loged -->
<div *ngIf="userInfo.isAutheticated">
    <div class="layout-topbar">

        <a href="#" class="layout-topbar-logo">
            <h3>Baby Care</h3>
        </a>

        <ul class="topbar-menu">
            <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}">
                
                <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">
                    <img src="..\assets\layout\images\user.png" alt="Profile" />
                </a>

                <ul class="fadeInDown">

                    <li>
                        <a (click)="goToPage('/profile')" class="cursor-pointer">
                            <i class="pi pi-fw pi-user"></i>
                            <span> Profile</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="goToPage('/babies')" class="cursor-pointer">
                            <i class="pi pi-fw pi-users"></i>
                            <span> Babies</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="goToPage('/track')" class="cursor-pointer">
                            <i class="pi pi-fw pi-calendar"></i>
                            <span> Baby Tracker</span>
                        </a>
                    </li>

                    <!-- <li>
                        <a (click)="goToPage('/About')" class="cursor-pointer">
                            <i class="pi pi-fw pi-user"></i>
                            <span> About</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="goToPage('/contact')" class="cursor-pointer">
                            <i class="pi pi-fw pi-user"></i>
                            <span> Contact</span>
                        </a>
                    </li> -->

                    <li>
                        <a (click)="logout()" class="cursor-pointer">
                            <i class="pi pi-fw pi-sign-out"></i>
                            <span> Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>