<div class="layout-footer">
    <div class="flex align-items-start flex-wrap">
        <img class="pr-3" src="../assets/layout/images/baby-care.jpg" alt="roma-layout"/>
        <p>Baby Care Application is a portfolio website.</p>
    </div>

    <div class="footer-icons">
        <button class="p-link" (click)="goToPage('')">
            <i class="pi pi-home"></i>
        </button>
        <button class="p-link" (click)="goToPage('contact')">
            <i class="pi pi-id-card"></i>
        </button>
    </div>
</div>